@import './../variables.less';

.notification-dropdown-btn {
  position: relative;
  z-index: 7;
  float: left;
  background-color: rgba(0,0,0,0);
  border: none;
  transition: all 0.1s ease;
  padding-right: 0px;
  padding-left: 0px;
  &:hover, &:active, &:focus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: 0px;
    box-shadow: none;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.notification-dropdown-container {
  position: absolute;
  .backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .arrow {
    margin-left: -9px;
    top: -8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }
  .notification-dropdown {
    #modalShadow();
    position: absolute;
    left: -405px !important;
    width: 450px;
    background-color: #fff;
    overflow-y: auto;
    max-height: 450px;
    overflow-x: hidden;
    padding: 5px 6px;
    text-shadow: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    span.no-notifications {
      color: @light-font;
      font-size: 1.5em;
      display: flex;
      margin: 0 auto;
      padding: 75px 0px;
    }
    .title {
      width: 100%;
      font-size: 1.2em;
      color: #777777;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-shadow: none;
      span.title-text {
        flex-grow: 1;
        text-align: left;
        color: @dark-font;
        padding-left: 10px;
        text-shadow: none;
      }
      .title-clear-all {
        background-color: @clear;
        border: none;
        color: @light-font;
        &:active, &:hover, &:focus {
          background-color: @clear;
          border: none;
          box-shadow: none;
        }
        &:hover {
          text-decoration: underline;
        }
        &:active {
          color: #333;
        }
      }
    }
  }
}

