.notification-item {
	box-shadow: 0 0px 0px rgba(0,0,0,0),0 0px 0px rgba(0,0,0,0);
  	border-radius: 0px;
  	margin-bottom: 0px;
  	border-style: solid;
  	.btn:active {
  		box-shadow: none;
  	}
	.panel-body {
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		height: 110%;
		margin-left: -2px;
	}
	.notification-body {
		border-color: rgba(0,0,0,0);
		border-radius: 0px;
		display: flex;
		padding-left: 0px;
		flex-direction: row;
		justify-content: flex-start;
		flex-grow: 2;
		&:hover {
			border-color: rgba(0,0,0,0);
		}
		.sidebar-picture {
			display: inline-block;
			border-radius: 40px;
			width: 40px;
			height: 40px;
			background-size: auto 40px;
			background-repeat: no-repeat;
			background-position: center;
		}
		.notification-text-col {
			text-align: left;
			margin-left: 10px;
			font-size: .9em;
			align-self: center;
			.notification-text {
			}
			.name {
				font-size: 1.1em;
			}
			.content {
			}
		}
	}
	.accept-btn {
		align-self: stretch;
		border-color: rgba(0,0,0,0);
		border-radius: 0;
		margin-right: -17px;
		padding-right: 20px;
  		padding-left: 20px;
		&:hover {
			border-color: rgba(0,0,0,0);
		}
	}
	.dismiss-btn {
		align-self: stretch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: -3px;
		.glyphicon {
			color: @light-font;
		}
		&:hover {
			background-color: #e6e6e6;
		}
	}
}
