.notification-dropdown {
	margin-left: 55px;
	text-align: center;
	height: auto;
	background-color: #EEE;
	.title {
		font-size: 1.2em;
		color: #777777;
	}
}

.notification-dropdown-btn {
	float: left;
	background-color: rgba(0,0,0,0);
	border: none;
	margin-top: 15px;
	&:hover, &:active, &:focus {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		box-shadow: none;
		outline: 0px;
	}
	img {
		width: 25px;
		height: 25px;
	}
}