@import '../variables.less';

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	.login-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 15px;
		img{
			margin-right: 20px;
		}
		h1 {
			color: #555;
			font-size: 42px;
			font-weight: 300;
			text-align: center;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.login-title {
		h2 {
			margin: 20px auto 30px;
			display: block;
			color: #555;
			font-size: 24px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.slug-panel {
		width: 500px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		.panel-body {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h2.prompt {
			margin-top: 0px;
			font-size: 1.25em;
			font-weight: normal;
			text-align: center;
			span.bold {
				font-weight: bold;
			}
		}
		.error {
			background-color: @bevy-danger;
			margin: 0 auto;
			width: 60%;
			padding: 4px 8px;
			border-radius: 4px;
			text-align: center;
			span.error-text {
				color: #FFF;
			}
		}
		.inputs {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 20%;
			padding-right: 20%;
			span.domain {
				font-size: 1.15em;
				margin-left: 4px;
			}
			& > div > div {
				right: 0 !important;
			}
			& > div > input {
				text-align: right;
			}
		}
		button.submit-btn {
			width: 60%;
			height: 48px;
			margin: 0 auto;
			margin-top: 25px;
			position: relative;
			border: none;
			box-shadow: none;
			//background-color: @bevy-green;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-shadow: @shadow1;
			span.submit-button-text {
				font-size: 1.15em;
				font-weight: bold;
				color: #FFF;
				position: relative;
				top: -2px;
			}
			i.material-icons {
				color: #FFF;
				margin-left: 6px;
				position: relative;
				//top: -2px;
			}
			.progress-container {
				height: 48px;
				position: relative;
				top: -3px;
			}
		}
	}

	.login-panel {
		width: 500px;
		padding-top: 40px;
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		.panel-body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h2.bevy-title {
			margin-top: 0px;
			font-size: 2em;
			text-align: center;
			font-weight: normal;
			span.bold {
				font-weight: bold;
			}
		}
		span.prompt {
			margin-bottom: 10px;
			span.bold {
				font-weight: bold;
			}
		}
		.inputs {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
			margin: 0 auto;
			.input-label {
				align-self: flex-start;
				font-size: 1.15em;
				color: #666;
				margin-top: 10px;
			}
		}
		button.submit-btn {
			width: 100%;
			height: 48px;
			margin: 0 auto;
			margin-top: 25px;
			position: relative;
			border: none;
			box-shadow: none;
			//background-color: @bevy-green;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			box-shadow: @shadow1;
			span.submit-button-text {
				font-size: 1.15em;
				font-weight: bold;
				color: #FFF;
				position: relative;
				top: -2px;
			}
			i.material-icons {
				color: #FFF;
				margin-left: 6px;
			}
			.progress-container {
				height: 48px;
				//margin-top: -10px;
				& > div {
					position: relative;
					top: -3px;
				}
			}
		}
		.login-error{
			background-color: @bevy-danger;
			padding: 5px 10px;
			border-radius: 5px;
			margin: 0 10px;
			text-align: center;
			span{
				color: white;
				font-weight: bold;
			}
		}

	}
	.back-link{
		text-align: center;
		a {
			font-size: 1em;
		}
	}
}

.register {
	p{
		text-align: center;
	}
}
