@import '../variables.less';

.login-container {
	margin-top: -20px;
	padding-top: 20px;
	.login-header {
		img{
			float: none;
			margin: 20px auto 20px;
			display: block;
		}
	}
	.login-title {
		h1, h2 {
			-webkit-animation-duration: 0.1s;
			-webkit-animation-name: fontfix;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: 0;
		}
		h1 {
			margin: 20px auto 30px;
			display: block;
			color: #555;
			font-size: 42px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		h2 {
			margin: 20px auto 30px;
			display: block;
			color: #555;
			font-size: 24px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.login-panel {
		width: 350px;
		padding-top: 40px;
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		img{
			width: 96px;
			height: 96px;
			margin: 0 auto 35px;
			display: block;
			border-radius: 50%;
		}
		.login-error{
			background-color: @bevy-danger;
			padding: 5px 10px;
			border-radius: 5px;
			margin: 0 10px;
			text-align: center;
			span{
				color: white;
				font-weight: bold;
			}
		}
		.form-group {
			margin: 10px;
			.form-control {
				background-color: white;
				color: black;
			}
		}
		.register-button {
			display: block;
			width: 90%;
			margin: 0px auto;
			margin-top: 10px;
			text-align: center;
		}
		.login-submit.mui-raised-button {
			display: block;
			background-color: @bevy-green;
			color: white;
			width: 90%;
			margin: 0px auto;
			text-align: center;
			.mui-paper-container {
				.mui-raised-button-container {
					background-color: @bevy-green;
					color: white;
					div {
						.mui-raised-button-label {
							color: white;
						}
					}
				}
			}
		}
		.login-google-submit.mui-raised-button {
			background-color: #df4a32;
			display: block;
			color: white;
			width: 90%;
			margin: 10px auto;
			text-align: center;
			.mui-paper-container {
				.mui-raised-button-container {
					background-color: #df4a32;
					color: white;
					div {
						.mui-raised-button-label {
							color: white;
						}
					}
				}
			}
		}
		.login-facebook-submit.mui-raised-button {
			background-color: #3B5998;
			display: block;
			color: white;
			width: 90%;
			margin: 10px auto;
			text-align: center;
			.mui-paper-container {
				.mui-raised-button-container {
					background-color: #3B5998;
					color: white;
					div {
						.mui-raised-button-label {
							color: white;
						}
					}
				}
			}
		}
	}
	.back-link{
		text-align: center;
		a {
			font-size: 1em;
		}
	}
}

.register {
	p{
		text-align: center;
	}
}
