@import '../variables.less';

.reset-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	.title-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 15px;
		img{
			margin-right: 20px;
		}
		h1 {
			color: #555;
			font-size: 42px;
			font-weight: 300;
			text-align: center;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.reset-header {
		margin-top: 10px;
		a{
			display: inline-block;
			margin: 20px auto 30px;
			img{
				float: none;
				display: block;
			}
		}
		h2 {
			margin: 20px auto 30px;
			display: block;
			color: #555;
			font-size: 24px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 20px;
			text-align: center;
		}
	}
	.reset-panel {
		text-align: left;
		width: 350px;
		padding-top: 0px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		.error {
			background-color: @bevy-danger;
			padding: 5px 10px;
			border-radius: 5px;
			margin: 0 10px;
			text-align: center;
			span{
				color: white;
				font-weight: bold;
			}
		}
    input {
      border: none;
      box-shadow: none;
    }
		.reset-submit.mui-raised-button {
			display: block;
			background-color: @bevy-green;
			color: white;
			width: 90%;
			margin: 0px auto;
			text-align: center;
			.mui-paper-container {
				.mui-raised-button-container {
					background-color: @bevy-green;
					color: white;
					div {
						.mui-raised-button-label {
							color: white;
						}
					}
				}
			}
		}
	}
	a {
		margin-left: auto;
		margin-right: auto;
	}
}
