.create-bevy {
	.mui-text-field {
		margin-bottom: 5px;
		-webkit-box-shadow: none;
		.mui-text-field-input {
			-webkit-box-shadow: none;
			margin-left: 10px;
			font-size: .85em;
		}
		&:focus {
			-webkit-box-shadow: none;
		}
		.mui-text-field-underline{
		}
		.mui-text-field-focus-underline {
			border-color: rgba(0,0,0,.5);
		}
	}
	.modal-dialog {
		width: 400px;
		.modal-content {
			.modal-header {

			}
			.bevy-info {
				display: flex;
				flex-direction: column;
				.new-bevy-picture {
					margin-left: -15px;
 					margin-right: -15px;
					.bevy-image-dropzone {
						width: 100%;
						height: 100px;
						background-repeat: no-repeat;
						border-radius: 0px;
						.dropzone-button-container {
							width: 100%;
  							height: 100%;
							.dropzone-panel-button {
								width: 100%;
								height: 100%;
								margin: 0px;
								.glyphicon {
									height: 100%;
									width: 100%;
									border-radius: 0px;
									padding-top: 40px;
								}
							}
						}
					}
				}
				.text-fields {
					margin-top: 10px;
				}
			}
			.panel-bottom {
				margin-top: 0px;
				.mui-raised-button {
					.mui-paper-container {
						.mui-raised-button-container {
							background-color: white;
							.mui-raised-button-label {
								color: black;
							}
						}
					}
				}
			}
		}
	}

}