.create-bevy {
	.mui-text-field {
		margin-bottom: 5px;
		-webkit-box-shadow: none;
		.mui-text-field-input {
			-webkit-box-shadow: none;
			margin-left: 10px;
			font-size: .85em;
		}
		&:focus {
			-webkit-box-shadow: none;
		}
		.mui-text-field-underline{
		}
		.mui-text-field-focus-underline {
			border-color: rgba(0,0,0,.5);
		}
	}
	.modal-dialog {
		width: 400px;
		.modal-content {
			.new-bevy-picture {
				.bevy-image-dropzone {
					width: 50px;
					height: 50px;
					border-radius: 50px;
					margin-top: 27px;
					background-repeat: no-repeat;
					  margin-left: 15px;
				}
			}
			.panel-bottom {
				margin-top: 10px;
				.mui-raised-button {
					.mui-paper-container {
						.mui-raised-button-container {
							background-color: white;
							.mui-raised-button-label {
								color: black;
							}
						}
					}
				}
			}
		}
	}

}