extends ./base.jade

block scripts
	style
		include ./../public/css/app.css

block content
	// h1 environment: #{env}
	#app.container
	if env == 'development'
		script(src='http://localhost:8888/build/bundle.js')
	else
		script(src='js/build/bundle.js')
