extends ./base.jade

block content
	h1 login
	p #{message}
	form( action='/login', method='post', enctype='x-www-form-urlencoded')
		p
			label Email:
			input(id='email', type='text', name='email')
		p
			label Password:
			input(id='password', type='password', name='password')
		p
			input(id='submit', type='submit', value='Log In')

