extends ./base.jade

block scripts
	style
		include ./../public/css/app.css

block content
	#app.container
		.login-container.register
			.login-title.row
				h1 Create a New Account
			.login-panel.panel.panel-default
				.panel-body
					img(src="//ssl.gstatic.com/accounts/ui/avatar_2x.png", alt="")
					form(method='post' action='/register')
						.form-group
							input.form-control(placeholder="Email", type="text")
						.form-group
							input.form-control(placeholder="Confirm Email", type="text")
						.form-group
							input.form-control(placeholder="New Password", type="password")
						.form-group
							input.form-control(type='submit', value='Register')
			p Already have an account?
			a(href='/login') Back to Login
			br
			br
