.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fadeIn-appear {
  opacity: 0.02;
  transition: all .01s;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 0.01;
}

.fadeIn-leave {
  opacity: 0.01;
  display: none;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0;
  transition: all .01s;
}