@import '../variables.less';

.left-sidebar {
	border-bottom: 0px solid rgba(0,0,0,0);
	color: @light-font;
	display: inline-block;
	float: left;
	.left-sidebar-wrapper {
		width: 105%;
		height: 80%;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: hidden; // hide scrollbar
		.hide-scroll {
			visibility: visible;
		}
		.panel-header {
			padding-left: 25px;
		}
		&.fixed {
			position: fixed;
			width: inherit;
			max-width: 275px;
			top: 85px;
		}
	}
}

@media(max-width: 1200px) {
	.left-sidebar-wrapper {
		&.fixed {
			max-width: 223px !important;
		}
	}
}

@media(max-width: 991px) {
	.left-sidebar-wrapper {
		&.fixed {
			max-width: 165px !important;
		}
	}
}

@media(max-width: 770px) {
	.left-sidebar-wrapper {
		&.fixed {
			max-width: 165px !important;
		}
	}
}
