@import '../variables.less';


.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.main-section {
  padding-top: 85px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 900px;
}
.footer-home {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  .footer-left {
    color: white;
  }
  .bevy-logo-btn {
    width: 25px;
    height: 25px;
    padding: 0px;
    background-color: rgba(0,0,0,0) !important;
    border: none;
    outline: 0;
    box-shadow: none;
    z-index: 2;
    .bevy-logo-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
  }
}

.main-section-wrapper {
  overflow-x: hidden;
  padding-right: 55px;
}