@import '../variables.less';

.main-section {
	//margin: 0%;
	//width: 100%;
	max-width: 1400px;
	padding-top: 85px;
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}
