/**
 * PostView.less
 * @author albert
 */

 @import './../variables.less';

.post-view {
  margin-top: 53px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  height: calc(~'100vh - 53px');
  .top-bar {
    display: fixed;
    width: calc(~'100% - 250px');
    height: 53px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2 !important;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    justify-content: space-between;
    top: 0;
    border-bottom: 1px solid #DDD;
    a.back-link {
      color: #555;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      &:hover {
        i.material-icons {
          text-decoration: none;
        }
        span.back-link-text {
          text-decoration: underline;
        }
      }
      i.material-icons {
        margin-right: 8px;
      }
      span.back-link-text {
        font-size: 1.25em;

      }
    }
  }
}
