/**
 * PublicBevyItem.less
 * @author kevin albert
 */

@import './../variables.less';

.public-bevy-panel {
  order: 3;
  width: 275px;
  padding: 0px;
  margin-right: 15px;
  height: 195px;
  .bevy-panel-top {
    width: 100%;
    height: 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border: none;
    transition: all 0.2s ease;
    display: inline-block;
    padding: 6px 12px;
    &:active {
      box-shadow: @shadow2;
    }
  }
  .panel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .panel-info-top {
      display: flex;
      flex-direction: row;
      margin-left: 15px;
      color: @light-font;
      margin-bottom: 5px;
      margin-top: 10px;
      font-size: .85em;
      a.title {
        flex: 1;
        display: flex;
        white-space: nowrap;
        overflow-x: hidden;
        color: black;
        font-size: 1.5em;
      }
      span.glyphicon {
        margin-right: 10px;
        padding-top: 3px;
      }
    }
    .panel-info-bottom {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
      }
    }
  }
}