.main-section {
	.message {
		text-align: center;
		font-size: 28px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.public-bevy-request {
		order: 2;
		flex-grow: 2;
	}
	.public-bevy-panel {
		order: 3;
		flex-grow: 1;
		max-width: 275px;
		.right-sidebar {
			padding: 5px 20px;
			float: none;
			.sidebar-top {
				.sidebar-picture {
					.profile-img {
						margin-left: 0px;
					}
				}
			}
			.sidebar-links {
				padding-left: 0px;
				margin-top: 20px;
				text-align: center;
				span {
					width: 100px;
				}
			}
			.sidebar-action {
				margin-bottom: 8px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				.request-button {
				}
			}
		}
	}
}
