@import '../variables.less';

.right-sidebar {
  float: right;
  display: inline-block;
  width: 100%;
}

.right-sidebar.frontpage {
	margin-bottom: 10px;
	padding-bottom: 15px;

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.announcements {
		padding: 5px 10px;
		.announcements-title {
			text-align: center;
			font-size: 1.25em;
			font-weight: bold;
		}
	}

	.feedback{
		padding: 5px 10px;
		.feedback-title {
			text-align: center;
			font-size: 1.25em;
			font-weight: bold;
		}
	}
}

.right-sidebar-col {
	padding-left: 15px;
}

.right-sidebar-wrapper {
	&.fixed {
		position: fixed;
		width: inherit;
		max-width: 263px;
		top: 85px;
	}
}

//dropdown buttons
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	background: rgba(0,0,0,0);
	border: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: @light-font;
	font-size: inherit;
	&.open {
	}
	&:active{
		color: black;
	}
	&:focus {
		text-decoration: underline;
		color: black;
	}
	&:hover{
		color: black;
	}
}
//open dropdown menu
.btn-group > .btn-group {
	float: none;
}

@media(max-width: 1200px) {
	.right-sidebar-wrapper {
		&.fixed {
			max-width: 157.5px !important;
		}
	}
}

@media(max-width: 991px) {
	.right-sidebar {
		display: inline-block;
		float: right;
	}
	.right-sidebar-wrapper {
		&.fixed {
			max-width: 212px !important;
		}
	}
}
