@import '../variables.less';


.right-sidebar {
	display: inline-block;
	float: right;
	flex-grow: 1;
	order: 3;
	width: 105%;
	max-width: 275px;

	.fixed {
		position: fixed;
		width: 100%;
		max-width: 275px;
		top: 85px;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: hidden; // hide scrollbar
		height: ~"calc(100% - 95px)";
	}
	.hide-scroll {
		visibility: visible;
		width: 100%;
		max-width: 275px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.panel {
		display: inline-block;
		width: 100%;
	}
	.panel.frontpage {
		margin-bottom: 10px;
		padding-bottom: 15px;

		hr {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.announcements {
			padding: 5px 10px;
			.announcements-title {
				text-align: center;
				font-size: 1.25em;
			}
		}

		.feedback{
			padding: 5px 10px;
			.feedback-title {
				text-align: center;
				font-size: 1.25em;
				margin-bottom: 5px;
			}
		}
	}
}

//dropdown buttons
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	background: rgba(0,0,0,0);
	border: 0px;
	box-shadow: none;
	color: @light-font;
	font-size: inherit;
	&.open {
	}
	&:active{
		color: black;
	}
	&:focus {
		text-decoration: underline;
		color: black;
	}
	&:hover{
		color: black;
	}
}
//open dropdown menu
.btn-group > .btn-group {
	float: none;
}

@media(max-width: 1200px) {
	.right-sidebar {
		max-width: 212px !important;
		.fixed {
			max-width: 212px !important;
		}
		.hide-scroll {
			max-width: 212px !important;
		}
	}
}

@media(max-width: 991px) {
	.right-sidebar {
		max-width: 157px !important;
		.fixed {
			max-width: 157px !important;
		}
		.hide-scroll {
			max-width: 157px !important;
		}
	}
}

@media(max-width: 770px) {
	.right-sidebar-col {
	}
}
