@import './../variables.less';

.contact-list.panel {
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 10px;
	.contact-list-header {
		.contact-search {
			width: 100%;
			padding: 0px 10px;
			.mui-text-field-focus-underline {
				border-color: #aaa;
			}
		}
	}
	.list-links {
		.contact-item {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-radius: 0px;
			border: none;
			transition: 0.2s ease-in-out;
			.contact-img {
				min-width: 30px;
				max-width: 30px;
				height: 30px;
				border-radius: 30px;
				float: left;
				margin-right: 15px;
				#image-icon;
			}
			.contact-name {
				color: @light-font;
				overflow-x: hidden;
				text-align: left;
				min-height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			&:hover, &:active {
				text-decoration: none;
				background-color: #f8f8f8;
				box-shadow: none;
			}
			&:focus {
				background-color: #f8f8f8;
			}
		}
	}
}
