/**
 * AddAccountModal.less
 * @author albert
 */

@import './../variables.less';

.add-account-modal {
  .modal-dialog {
    width: 400px !important;
  }
  .modal-content {
    .modal-header {
      padding: 0px !important;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        span.title-text {
          margin-right: 10px;
        }
        span.glyphicon {
          margin-bottom: 3px;
          color: #aaa;
        }
      }
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0px;
      span.error {
        background-color: @bevy-danger;
        color: #fff;
        border-radius: 5px;
        padding: 3px 6px;
      }
      .verified-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
        .image {
          #image-icon();
          min-width: 40px;
          min-height: 40px;
          border-radius: 20px;
          margin-right: 10px;
        }
        .details {
          flex: 1;
        }
      }
      .verify-dialog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .verify-buttons {
          padding-top: 10px;
        }
      }
    }
  }
}