/**
 * ProfileView.less
 *
 * @author albert
 */

@import './../variables.less';

.profile-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1.loading-title {

    }
  }
  .edit-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h4 {
      font-weight: normal;
    }
  }
  .edit-panel, .view-panel {
    width: 500px;
    .panel-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .edit-panel {
    .panel-body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-right: 0px;
    }
    .left {
      width: 65%;
      display: flex;
      flex-direction: column;

      span.input-title {
        margin-bottom: 4px;
      }
      .form-group {
        margin-bottom: 10px;
        input.form-control {
          &:focus {
            border-color: @bevy-green;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px @bevy-green-trans;
          }
        }
      }
      span.hint {
        color: #888;
        font-size: 0.85em;
        margin-bottom: 10px;
      }
      .edit-buttons {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        margin-top: 10px;
        & > div {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35%;
      span.prompt {
        color: #888;
        margin-bottom: 10px;
      }
      .profile-picture {
        width: 100px;
        height: 100px;
        form.profile-image-dropzone {
          width: 100px;
          height: 100px;
          border-radius: 0px;
          margin: 0px;
          span.glyphicon {
            width: 100px;
            height: 100px;
            border-radius: 0px;
            left: -35px;
            padding-top: 35px;
          }
        }
      }
    }
  }
  .view-panel {
    .panel-body {

    }
    .profile-picture {
      #image-icon();
      width: 80%;
      height: 160px;
      margin: 0 auto;
    }
    span.name {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 15px;
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;
      & > div {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .details {
      width: 80%;
      border-top: 1px solid #EEE;
      margin-top: 20px;
      padding-top: 10px;
      .detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        span.detail-key {
          width: 40%;
          color: #888;
        }
        span.detail-value {
          width: 60%;
        }
        a.email-link {
          width: 60%;
        }
      }
    }
  }
}
