<body>
  <table cellspacing="50">
    <tbody>
      <tr>
        <td align="left" style="vertical-align:left;">
          <a title="Bevy" href="http://joinbevy.com">
            <img width="60" height="60" src='http://joinbevy.com/img/logo_200.png'></img>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="font-size:2.5em;color:#666666;font-weight:bold;">
            Welcome to Bevy
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="font-size:1.2em;color:#888888;">
            To finish setting up&nbsp;
            <span style="font-size:1.2em;font-weight:bold"><%= bevy_name %></span>
            , click the link below
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <a style='font-size:1.2em;color:#aaa;'title="Set Your Password" href="<%= pass_link %>" target="_blank">
            <%= pass_link %>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="color:#aaa;font-size:1.2em;">
            Thanks,
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style='color:#aaa;font-size:1.2em;'>
            Bevy
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
            <span style="color:#666">
              Follow Bevy on 
              <a href="https://www.facebook.com/joinbevy" style="color:#666">
                Facebook
              </a>
            </span>
            <br/>
            <span style="color:#666">
              Download Bevy on iOS (March 2016)
            </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
            <a href='http://joinbevy.com' style="color:rgba(44,182,115,.6)">
              joinbevy.com
            </a>

        </td>
      </tr>
    </tbody>
  </table>
</body>
