<body>
  <table cellspacing="30">
    <tbody>
      <tr>
        <td align="left" style="vertical-align:left;">
          <a title="Bevy" href="http://joinbevy.com">
            <img width="50" height="50" src='http://joinbevy.com/img/logo_200.png'></img>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="font-size:3em;color:#2CB673">
            Bevy
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="font-size:2em;color=#666666;">
            Welcome to Bevy,&nbsp;
            <span style="font-weight:bold">
              <%= user_email %>
            </span>
            !
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="color=#888888;">
            To finish setting up&nbsp;
            <span style="font-weight:bold"><%= bevy_name %></span>
            , click the link below
          </span>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <a title="Set Your Password" href="<%= pass_link %>" target="_blank">
            <%= pass_link %>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
