.chat-panel {
	position: absolute;
	bottom: 0px;

	.chat-panel-header {
		background-color: #ddd;
		padding: 3px 5px;
		text-align: center;

		.btn {
			padding: 0px;
		}
	}

	.chat-panel-body {
		background-color: #fff;
		padding: 3px 5px;
	}
}
