@import './../variables.less';

.chat-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(~'100% - 69px');
  text-shadow: none;
  transition: all .2s ease-in-out;
  .conversation-list {
    box-shadow: @shadow1;
    width: 100%;
    height: calc(~'100% - 40px');
    display: flex;
    flex-direction: column;
    background-color: #edeeee;
    align-items: flex-start;
    overflow: hidden;
    .conversation-item {
      background-color: rgba(0,0,0,0);
      border-radius: 0px;
      padding: 5px 5px 5px 0px;
      display: flex;
      flex-direction: row;
      box-shadow: none;
      border: none;
      height: 50px;
      align-items: center;
      justify-content: flex-start;
      transitiion: all .2s ease-in-out;
        &:hover {
          box-shadow: @shadow1;
        }
        &:active {
          box-shadow: @shadow2;
        }
        .image {
          min-width: 40px;
          min-height: 40px;
          padding: 0px;
          overflow: hidden;
          margin: 0px 10px;
          border-radius: 50px;
          box-shadow: none;
          transition: all .2s ease-in-out; 
        }

        .details {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          span.name {
>>>>>>> 6ff41a833a5a220e1f1143e7868f89fa6caea9ca

          }
          span.latest-message {
            color: #aaa;
          }
        }
    }
  }
  .search-results {
    height: 0px;
    position: absolute;
    bottom: 40px;
    transition: all .2s ease-in-out;
    .topline-wrapper {
      padding-top: 10px;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 1px;
      margin-top: -10px;
      overflow: hidden;
      .topline {
        width: 100%;
        height: 1px;
        box-shadow: 0 3px 10px rgba(0,0,0,.5),0 3px 10px rgba(0,0,0,.5);
      }
    }
    .content {
      background-color: white;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .top {
        width: 100%;
        overflow: hidden;
        height: 20px;
      }
      .results-list {
        width: 100%;
        flex-grow: 2;
        overflow: hidden;
        text-align: center;
        span.results-list-header {
          color: #aaa;
        }
      }
    }
  }
  .chat-actions {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: @shadow2;
    padding-left: 10px;

    .glyphicon {
      color: #666;
    }

    .mui-text-field {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
      .mui-text-field-underline {
        width: 90%;
        color: rgba(0,0,0,.2);
      }
      .mui-text-field-focus-underline {
        border-color: #777;
        width: 90%;
      }
    }
  }
}