@import './../variables.less';

.chat-sidebar {
  position: fixed;
  bottom: 0;
  height: calc(~'100% - 69px');
  text-shadow: none;
  transition: all .2s ease-in-out;
  .conversation-list {
    box-shadow: @shadow1;
    width: 100%;
    height: calc(~'100% - 40px');
    display: flex;
    flex-direction: column;
    background-color: #edeeee;
    align-items: flex-start;
    overflow-y: scroll;
    .threads-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 0px;
      .threads-title {
        transition: all .5s ease-in-out;
        text-shadow: none;
        .title {
          transition: all .5s ease-in-out;
          text-shadow: none;
          color: @light-font;
          font-size: 16px;
          padding-left: 10px;
        }
      }
    }
    .panel {
      box-shadow: none;
      border: none;
      width: 200px;
      background-color: transparent;
      margin-bottom: 10px;
      transition: all .5s ease-in-out;
      .panel-heading {
        background-color: transparent;
        border: none;
        color: #888;
        padding: 0px;
        margin-left: 10px;
        h4.panel-title {
          font-size: 0.9em;
          font-weight: bold;
        }
      }
      .panel-collapse {
        .panel-body {
          display: flex;
          flex-direction: column;
          padding: 5px 0px;
          border: none;
        }
      }
    }
  }
  .search-results {
    height: 0px;
    position: absolute;
    bottom: 40px;
    transition: all .2s ease-in-out;
    .topline-wrapper {
      padding-top: 10px;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 1px;
      margin-top: -10px;
      overflow: hidden;
      .topline {
        width: 100%;
        height: 1px;
      }
    }
    .content {
      background-color: white;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .top {
        width: 100%;
        overflow: hidden;
        height: 20px;
      }
      .results-list {
        width: 100%;
        flex-grow: 2;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        span.results-list-header {
          color: #aaa;
          flex-grow: 2;
        }
        span.no-results {
          font-size: 1.5em;
          color: @light-font;
          margin: 30px 0px;
        }
      }
    }
  }
  .chat-actions {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: @shadow2;
    padding-left: 10px;

    .glyphicon-search {
      color: #666;
      margin-right: 10px;
      background-color: rgba(0,0,0,0);
      border: none;
      &:active {
        color: #111;
        box-shadow: none;
      }
    }

    .mui-text-field {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
      .mui-text-field-underline {
        width: 90%;
        color: rgba(0,0,0,.2);
      }
      .mui-text-field-focus-underline {
        border-color: #777;
        width: 90%;
      }
    }
  }
}

.sidebar-background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}