/**
 * ChatDropdown.less
 * @author albert
 * @author kevin
 */

@import './../variables.less';

.chat-dropdown-btn {
  z-index: 8;
  float: left;
  background-color: rgba(0,0,0,0);
  border: none;
  transition: all 0.1s ease;
  padding-right: 0px;
  padding-left: 0px;
  &:hover, &:active, &:focus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: 0px;
    box-shadow: none;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.chat-dropdown-container {
  position: absolute;
  .backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .arrow {
    margin-left: -9px;
    top: -8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }
  .chat-dropdown {
    #modalShadow();
    position: absolute;
    left: -405px !important;
    width: 450px;
    background-color: #fff;
    overflow-y: auto;
    max-height: 450px;
    overflow-x: hidden;
    text-shadow: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    .header {
      padding: 3px 6px;
      font-size: 1.2em;
      color: #777777;
      display: flex;
      flex-direction: row;
      align-items: center;
      span.inbox-text {
        flex: 1;
        text-align: left;
        color: @dark-font;
        padding-left: 10px;
      }
      .create-new-message-btn {
        color: rgb(59, 89, 152);
        background-color: transparent;
        border: none;
        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
        &:active, &:focus {
          box-shadow: none;
          background-color: transparent;
        }
      }
    }
    .thread-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-shadow: none;
      transition: all .2s ease-in-out;
      background-color: #fff;
      span.no-threads {
        display: flex;
        margin: 0 auto;
        padding: 75px 0px;
        color: @light-font;
        font-size: 1.5em;
      }
      a.conversation-item {
        width: 100%;
        background-color: transparent;
        border-radius: 0px;
        padding: 5px 5px 5px 0px;
        display: flex;
        flex-direction: row;
        box-shadow: none;
        border: none;
        height: 50px;
        align-items: center;
        justify-content: flex-start;
        transitiion: all .2s ease-in-out;
        position: relative;
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: none;
          background-color: rgba(100,100,100,0.1);
        }
        &:active {
          background-color: rgba(100,100,100,0.2);
        }
        .image {
          min-width: 40px;
          min-height: 40px;
          width: 40px;
          height: 40px;
          padding: 0px;
          overflow: hidden;
          margin: 0px 10px;
          border-radius: 50px;
          box-shadow: none;
          transition: all .2s ease-in-out; 
        }
        .details {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          span.name {

          }
          span.latest-message {
            color: #aaa;
            max-height: 16px;
            overflow: hidden;
            text-align: left;
            word-break: break-all;
          }
        }
      }
    }
  }
}



