@import './../variables.less';

.message-item {
	width: 100%;
	display: flex;
	margin-bottom: 5px;
	img.message-author-img {
		width: 30px;
		height: 30px;
		border-radius: 25px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.message-body {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		span.message-text {
			display: flex;
			align-items: center;
			padding: 0px 5px;
			background-color: rgb(255, 255, 255);
			border-radius: 3px;
			box-shadow: 0px 2px 5px -2px #aaa;
			margin-bottom: 5px;
			white-space: pre;
		}
		span.message-info {
			font-size: 0.75em;
			color: @light-font;
		}
	}
}
