/**
 * ThreadItem.less
 * @author albert
 */

@import './../variables.less';

a.conversation-item {
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
  padding: 5px 5px 5px 0px;
  display: flex;
  flex-direction: row;
  box-shadow: none;
  border: none;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0s ease-in-out;
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover {
    background-color: #ddd;
    text-decoration: none;
  }
  .image {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0px;
    overflow: hidden;
    margin: 0px 10px;
    border-radius: 50px;
    box-shadow: none;
    transition: all .1s ease-in-out; 
  }

  .details {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span.name {

    }
    span.latest-message {
      color: #aaa;
      overflow: hidden;
      text-align: left;
      word-break: break-all;
      white-space: nowrap;
    }
  }
}