/**
 * UserSearchOverlay.less
 * @author albert
 */

@import './../variables.less';

.user-search-overlay {
  position: absolute;
  left: 20px !important;
  background-color: #fff;
  #modalShadow();
  .user-item {
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    border: none;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
    transitiion: all .2s ease-in-out;
    &:hover {
      background-color: rgba(120,120,120,0.1);
    }
    &:active {
      background-color: rgba(120,120,120,0.2);
    }
    .image {
      min-width: 30px;
      min-height: 30px;
      padding: 0px;
      overflow: hidden;
      margin: 0px 10px;
      border-radius: 15px;
      box-shadow: none;
      transition: all .2s ease-in-out; 
    }
    .details {
      overflow: hidden;
      .name {

      }
    }
  }
}