/**
 * BevyInviteModal.less
 * @author kevin
 */

@import './../variables.less';

.bevy-invite-modal {
  .modal-dialog {
    width: 400px;
    .modal-content {
      .modal-header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0px;
        h4.modal-title {
          flex-grow: 1;
        }
        button.close {
          margin-top: 0px;
          padding: 5px;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding: 0px;
        .pending-invites {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          span.title {
            font-size: 1.15em;
            margin-bottom: 10px;
          }
          .invite-item {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .profile-image {
              #image-icon();
              width: 32px;
              height: 32px;
              border-radius: 16px;
              background-image: url('/img/user-profile-icon.png');
              margin-right: 15px;
            }
            .details {
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              align-items: flex-start;
              span.email {

              }
              span.time-ago {
                font-style: italic;
                font-size: 0.85em;
              }
            }
          }
        }
        span.invite-others-title {
          font-size: 1.15em;
        }
        span.invite-others-hint {
          span.bold {
            font-weight: bold;
          }
        }
        .invite-fields {
          padding-right: 25%;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 6px;
          button.invite-more-button {
            //width: 40%;
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            height: 40px;
            background-color: #FFF;
            border: none;
            //box-shadow: @shadow1;
            box-shadow: none;
            transition: 0.25s all ease-in-out;
            padding-right: 10px;
            &:hover {
              background-color: #EEE;
            }
            i.material-icons {
              margin-right: 5px;
            }
            span.invite-more-button-text {

            }
          }
          .submit-button {
            //width: 40%;
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            background-color: #FFF;
            border: none;
            //box-shadow: @shadow1;
            box-shadow: none;
            transition: 0.25s all ease-in-out;
            padding-left: 10px;
            &:hover {
              background-color: #EEE;
            }
            &.loading {
              background-color: #DDD;
              cursor: default;
            }
            i.material-icons {
              margin-left: 5px;
            }
            span.invite-more-button-text {

            }
            .progress-container {
              width: 30px;
              height: 30px;
            }
          }

        }
      }

      .modal-footer {
        border: none;
        padding: 0px;
      }
    }
  }
}
