.bevy-settings-modal {
	.modal-dialog {
		width: 300px;
		.modal-content {
			.title {
				margin-bottom: 20px;
			}
			.bevy-setting {
				margin-top: 20px;
				.mui-toggle {
					font-size: 12px;
					.mui-switch-label {
						padding-left: 20px;
					}
				}
			}
			.expire-setting {
				margin-left: 20px;
				font-size: 12px;
  				font-weight: 600;
				.mui-drop-down-menu {
					vertical-align: middle;
					font-weight: 100;
					margin-left: 33px;
					z-index: 10;
				}
			}
			.panel-bottom {
				margin-top: 20px;
				.mui-raised-button {
					.mui-paper-container {
						.mui-raised-button-container {
							background-color: white;
							.mui-raised-button-label {
								color: black;
							}
						}
					}
				}
			}
		}
	}
}