/**
 * BevyInfoBar.less
 * @author albert
 */

@import './../variables.less';

.bevy-info-bar {
  height: 50px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  margin-bottom: 10px;
}
