@import '../variables.less';

.bevy-list {

	padding-left: 10%;

	.badge {
		background-color: #777777;
	}
	.glyphicon {
		font-size: 1.2em;
	}
	.bevy-btn {
		background-color: @clear;
		color: @light-font;
		font-size: inherit;
		transition: all 0.15s linear;
		border: none;
		display: block;
		&:active, &.active, .btn.active, .btn:active, &:focus, &.focus{
			outline: none;
			text-decoration: underline;
			color: @dark-font;
			box-shadow: none;
			background-color: @clear;
		}
		&:hover {
			background-color: @clear;
		}
	}
	.new-bevy-btn {
		margin-bottom: 15px;
		margin-top: 5px;
	}
}
