@import '../variables.less';

.bevy-list.panel {
	padding-bottom: 15px;
	.panel-header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		p {
			flex-grow: 1;
		}
		.new-bevy-btn {
			background-color: @clear;
			color: @light-font;
			transition: all 0.15s linear;
			border: none;
			.glyphicon {
				font-size: 1em;
			}
		}
	}
	.bevy-list-btns {
		padding-left: 10%;

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.bevy-btn {
			background-color: @clear;
			color: @light-font;
			font-size: inherit;
			transition: all 0.15s linear;
			border: none;
			display: block;
			&:active, &.active, .btn.active, .btn:active, &:focus, &.focus{
				outline: none;
				text-decoration: underline;
				color: @dark-font;
				box-shadow: none;
				background-color: @clear;
			}
			&:hover {
				background-color: @clear;
			}
		}

		.badge {
			background-color: #777777;
		}
	}
}
