.bevy-settings-modal {
	.modal-dialog {
		width: 300px;
		.modal-content {
			.title {
				margin-bottom: 20px;
			}
			.bevy-setting {
				margin-top: 20px;
				.mui-toggle {
					font-size: 12px;
					.mui-switch-label {
						padding-left: 20px;
					}
				}
			}
			.panel-bottom {
				margin-top: 20px;
				.mui-raised-button {
					.mui-paper-container {
						.mui-raised-button-container {
							background-color: white;
							.mui-raised-button-label {
								color: black;
							}
						}
					}
				}
			}
		}
	}
}