@import '../variables.less';

.left-sidebar {
  float: right;
  display: inline-block;

  .dropdown-button {
    .panel {
      word-wrap: normal;
      background-color: rgba(0,0,0,0);
      border: 0px;
      -webkit-box-shadow: none;
      .panel-heading {
        background-color: rgba(0,0,0,0);
        .panel-title {
          padding-top: 3px;
          font-size: .8em;
        }
      }
      .panel-collapse {
        width: 110%;
        border: none;
        padding-left: 12px;
        font-size: .9em;
        .panel-body {
          border: none;
        }
      }
    }
  }
  .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    margin-bottom: 10px;
    .sidebar-picture {
      width: 100%;
      .bevy-image-dropzone {
        width: 100%;
        height: 100px;
        background-size: 130% auto !important;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px 2px 0px 0px;
        .dropzone-button-container {
          width: 100%;
            height: 100%;
          .dropzone-panel-button {
            width: 100%;
            height: 100%;
            margin: 0px;
            .glyphicon {
              height: 100%;
              width: 100%;
              border-radius: 0px;
              padding-top: 40px;
              margin-top: -2px;
            }
          }
        }
      }
      .profile-img {
        background-size: 130% auto !important;
      }
      .profile-img, .bevy-image-dropzone {
        display: inline-block;
        margin-top: 0;
        height: 100px;
        width: 100%;
        min-width: 50px;
        background-repeat: no-repeat;
        background-position: center;
        #image-icon;
      }
      &.frontpage {
        margin-bottom: 15px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .sidebar-title {
      display: flex;
      flex-direction: column;
      font-size: 1.3em;
      color: black;
      width: 100%;
      padding: 0 10px;
      span{
        display: block;
        margin: 0 auto;
      }
      .sidebar-title-name-container {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        align-items: flex-start;
      }
      span.sidebar-title-name {
        flex: 1;
        display: inline-block;
        margin: 0px;
        word-wrap: break-word;
        max-height: 54px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .edit-btn {
        background-color: transparent;
        border: none;
        padding: 3px 5px;
        color: #757d83;
        transition: .2s all ease-in-out;
        margin-top: 4px;
        &:focus, &:active {
          box-shadow: none;
        }
        &:hover {
          color: #333;
        }
      }
      .sidebar-title-description-container {
      }
      span.sidebar-title-description {
        font-size: 0.7em;
        color: #4c4c4c;
        width: 100%;
      }
      &.frontpage {
        margin-top: 5px;
        span {
          margin-left: 0px;
        }
      }
      .mui-text-field {
        width: 90%;
        margin-left: 10px;
        .mui-text-field-input {
          .mui-text-field-textarea {
            background: none;
            border: none;
            box-shadow: none;
          }
        }
        .mui-text-field-focus-underline {
          border-color: rgba(0,0,0,.5);
        }
      }
      .mui-raised-button {
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 5px;
      }
    }
  }

  .sidebar-links {
    color: @light-font;
    font-size: .9em;
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      float: left;
      padding: 0 5px;
    }
    button.sidebar-link {
      float: left;
      padding: 0 5px;
      background-color: rgba(0,0,0,0);
      color: @light-font;
      font-size: inherit;
      transition: all 0.15s linear;
      border: none;
      text-decoration: underline;
      &:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
        outline: none;
        color: black;
        box-shadow: none;
        background-color: rgba(0,0,0,0);
      }
      &:hover {
        background-color: rgba(0,0,0,0);
      }
    }
  }

  .sidebar-action {
    margin-top: 0px;
    margin-left: 5px;
    .sidebar-action-title {
      margin-left: 10px;
      color: black;
      font-size: 1.1em;
    }
    .sidebar-action-deets {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 20px;
    }
    button.sidebar-action-link {
      margin-left: 60px;
      margin-top: 10px;
      float: left;
      padding: 0 5px;
      background-color: rgba(0,0,0,0);
      color: @light-font;
      font-size: inherit;
      transition: all 0.15s linear;
      border: none;
      text-decoration: underline;
      &:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
        outline: none;
        color: black;
        box-shadow: none;
        background-color: rgba(0,0,0,0);
      }
      &:hover {
        background-color: rgba(0,0,0,0);
      }
    }
    .sidebar-action-dropdown {
      margin-left: 20px;
      margin-top: 5px;
    }
    &.name-edit-action {
      .bevy-image-dropzone {
        border-radius: 50px;
        overflow: hidden;
        #image-icon;
      }
      .mui-text-field {
        width: 50%;
        margin-left: 15px;
        vertical-align: top;
        .mui-text-field-focus-underline {
          border-color: rgba(0,0,0,.5);
        }
      }
      .alias-img {
        border-radius: 50px;
        overflow: hidden;
        display: inline-flex;
        margin-top: 0px;
        height: 30px;
        min-width: 30px;
        vertical-align: middle;
        #image-icon;
      }
      .sidebar-posting-name {
        margin-left: 10px;
        color: @light-font;
        vertical-align: baseline;
      }
      .edit-button {
        color: @light-font;
      }
    }
  }

  .bevy-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    margin-bottom: 20px;
    span.member-count {
      color: @light-font;
      margin-right: 10px;
    }
    a.admin-count {
      color: @light-font;
      &:active {
        color: #000;
      }
    }
    span.bevy-privacy {
      margin-left: 15px;
      color: @light-font;
    }
  }

  .sidebar-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .sidebar-action-link-bottom {
      margin-top: 20px;
      margin-bottom: 15px;
      margin-right: auto;
      padding: 0 5px;
      background-color: rgba(0,0,0,0);
      color: @light-font;
      font-size: .9em;
      transition: all 0.15s linear;
      border: none;
      &:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
        outline: none;
        color: black;
        box-shadow: none;
        background-color: rgba(0,0,0,0);
        text-decoration: underline;
      }
      &:hover {
        background-color: rgba(0,0,0,0);
        text-decoration: underline;
      }
    }
  }
}

//dropdown buttons
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child{
  background: rgba(0,0,0,0);
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: @light-font;
  font-size: inherit;
  &.open {
  }
  &:active{
    color: black;
  }
  &:focus {
    text-decoration: underline;
    color: black;
  }
  &:hover{
    color: black;
  }
}
//open dropdown menu
.btn-group > .btn-group {
  float: none;
}

