/**
 * BevyView.less
 * @author albert
 * @author kevin
 */

@import './../variables.less';

.bevy-view {
	padding-top: 0px;
	padding-left: 250px;
	padding-right: 0px;
	justify-content: center;
	.bevy-view-title {
		font-size: 24px;
		line-height: 32px;
		padding-top: 16px;
		margin-bottom: 12px;
		letter-spacing: 0px;
		font-weight: 400;
		color: #888;
	}
	.bevy-view-body {
		flex-grow: 1;
		z-index: 1;
		background-color: #eee;
		margin-top: 0px;
		width: 100%;
		margin-top: 60px;
		transition: .25s opacity ease-in-out;
		height: calc(~'100vh - 53px');
		overflow-y: auto;
    .bevy-view-content {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-top: 10px;
			.header {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 15px;
				flex-grow: 1;
				margin-top: 65px;
			}
		}
	}
}
