@import '../variables.less';

.right-sidebar {
  float: right;
  display: inline-block;

	.dropdown-button {
		.panel {
			word-wrap: normal;
			background-color: rgba(0,0,0,0);
			border: 0px;
			-webkit-box-shadow: none;
			.panel-heading {
				background-color: rgba(0,0,0,0);
				.panel-title {
					padding-top: 3px;
					font-size: .8em;
				}
			}
			.panel-collapse {
				width: 110%;
				border: none;
				padding-left: 12px;
				font-size: .9em;
				.panel-body {
					border: none;
				}
			}
		}
	}
	.sidebar-top {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
		.sidebar-picture {
			.profile-img, .bevy-image-dropzone {
				border-radius: 50px;
				overflow: hidden;
				display: inline-block;
				margin-left: 20px;
				margin-top: 0px;
				height: 50px;
				min-width: 50px;
				background-position: center;
			}
			&.frontpage {
				margin-bottom: 15px;
				img {
					width: 50px;
					height: 50px;
				}
			}
		}
		.sidebar-title {
			display: inline-block;
			font-size: 1.3em;
			color: black;
			width: 65%;
			.edit-button {
				color: @light-font;
				position: absolute;
				margin-top: -17px;
 				margin-left: -10px;
			}
			span{
				display: block;
				margin: 0 auto;
			}
			span.sidebar-title-name {
				display: inline-block;
				margin-left: 15px;
			}
			span.sidebar-title-description {
				font-size: 0.7em;
				color: #4c4c4c;
				margin-left: 15px;
			}
			&.frontpage {
				margin-top: 5px;
				span {
					margin-left: 0px;
				}
			}
			.mui-text-field {
				width: 90%;
				.mui-text-field-input {
					.mui-text-field-textarea {
						background: none;
						border: none;
						box-shadow: none;
					}
				}
				.mui-text-field-focus-underline {
					border-color: rgba(0,0,0,.5);
				}
			}
			.mui-raised-button {
				margin-top: 7px;
				margin-bottom: 5px;
			}
		}
	}

	.sidebar-links {
		color: @light-font;
		font-size: .9em;
		margin-bottom: 20px;
		margin-top: 5px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		span {
			float: left;
			padding: 0 5px;
		}
		button.sidebar-link {
			float: left;
			padding: 0 5px;
			background-color: rgba(0,0,0,0);
			color: @light-font;
			font-size: inherit;
			transition: all 0.15s linear;
			border: none;
			text-decoration: underline;
			&:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
				outline: none;
				color: black;
				box-shadow: none;
				background-color: rgba(0,0,0,0);
			}
			&:hover {
				background-color: rgba(0,0,0,0);
			}
		}
	}

	.sidebar-action {
		margin-top: 0px;
		margin-left: 5px;
		.sidebar-action-title {
			margin-left: 10px;
			color: black;
			font-size: 1.1em;
		}
		.sidebar-action-deets {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		button.sidebar-action-link {
			margin-left: 60px;
			margin-top: 10px;
			float: left;
			padding: 0 5px;
			background-color: rgba(0,0,0,0);
			color: @light-font;
			font-size: inherit;
			transition: all 0.15s linear;
			border: none;
			text-decoration: underline;
			&:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
				outline: none;
				color: black;
				box-shadow: none;
				background-color: rgba(0,0,0,0);
			}
			&:hover {
				background-color: rgba(0,0,0,0);
			}
		}
		.sidebar-action-dropdown {
			margin-left: 20px;
			margin-top: 5px;
		}
		&.name-edit-action {
			.bevy-image-dropzone {
				border-radius: 50px;
				overflow: hidden;
				display: inline-flex;
				margin-left: 20px;
				margin-top: 0px;
				height: 30px;
				width: 30px;
				background-position: center;
			}
			.mui-text-field {
				width: 50%;
				margin-left: 15px;
				vertical-align: top;
				.mui-text-field-focus-underline {
					border-color: rgba(0,0,0,.5);
				}
			}
			.alias-img {
				border-radius: 50px;
				overflow: hidden;
				display: inline-flex;
				margin-left: 40px;
				margin-top: 0px;
				height: 30px;
				width: 30px;
				background-position: center;
				vertical-align: middle;
			}
			.sidebar-posting-name {
				margin-left: 10px;
				color: @light-font;
				vertical-align: baseline;
			}
			.edit-button {
				color: @light-font;
			}
		}
	}
	.sidebar-bottom {
		display: flex;
		justify-content: space-between;
		padding: 0px 15px;
		.sidebar-action-link-bottom {
			margin-top: 20px;
			margin-bottom: 15px;
			margin-right: auto;
			padding: 0 5px;
			background-color: rgba(0,0,0,0);
			color: @light-font;
			font-size: .9em;
			transition: all 0.15s linear;
			border: none;
			&:active, &.active, .btn.active, .btn:active, &:focus, &.focus {
				outline: none;
				color: black;
				box-shadow: none;
				background-color: rgba(0,0,0,0);
				text-decoration: underline;
			}
			&:hover {
				background-color: rgba(0,0,0,0);
				text-decoration: underline;
			}
		}
	}
}

//dropdown buttons
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child{
	background: rgba(0,0,0,0);
	border: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: @light-font;
	font-size: inherit;
	&.open {
	}
	&:active{
		color: black;
	}
	&:focus {
		text-decoration: underline;
		color: black;
	}
	&:hover{
		color: black;
	}
}
//open dropdown menu
.btn-group > .btn-group {
	float: none;
}

@media(max-width: 1200px) {
  .right-sidebar {
    display: inline-block;
    float: right;
    .row.sidebar-top {
		.sidebar-picture {

			.profile-img, .bevy-image-dropzone {
				height: 30px;
				width: 30px;
				background-size: 30px auto !important;
			}
			&.frontpage {
				img {
					width: 30px;
					height: 30px;
				}
			}
		}
		.sidebar-title {
			font-size: 1.2em;
			margin-top: -5px;
		}
	}
	.row.sidebar-links {
		padding-left: 30px;
		margin-top: 10px;
	}
	.row.sidebar-action {
		.sidebar-action-title {
			margin-left: 0px;
		}
		button.sidebar-action-link {
			margin-left: 0px;
		}
		.sidebar-action-dropdown {
			margin-left: 10px;
			width: 150px !important;
		}
	}
  }

}
