// BevyDropdownItem.less
// @author albert

@import './../variables.less';

a.bevy-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: #fff;
  transition: 0s all ease-in-out;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  &:hover {
    background-color: #eee;
    text-decoration: none;
  }
  &.active {
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
  .bevy-image {
    #image-icon();
    min-width: 35px;
    min-height: 35px;
    border-radius: 18px;
    margin-right: 10px;
  }
  .bevy-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span.bevy-name {
      text-decoration: none;
      color: #000;
      font-size: 1.2em;
      overflow-x: hidden;
      white-space: nowrap;
      display: flex;
      width: 100%;
    }
    span.bevy-description {
      color: @light-font;
      overflow-x: hidden;
      white-space: nowrap;
      display: flex;
      width: 100%;
    }
  }
}