@import './../variables.less';

.panel.frontpage {
	margin-bottom: 10px;
	padding-bottom: 15px;

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.announcements {
		padding: 5px 10px;
		.announcements-body {
			overflow-y: auto;
			max-height: 150px;
		}
		.announcements-title {
			display: block;
			text-align: center;
			font-size: 1.25em;
		}
	}

	.feedback{
		padding: 5px 10px;
		.feedback-title {
			text-align: center;
			font-size: 1.25em;
			margin-bottom: 5px;
		}
	}
}
