.member-modal {
	min-height: 400px;
	.modal-dialog {
		.modal-content {
			.contact-btn {
				border-radius: 40px;
				width: 40px;
				height: 40px;
				margin-left: 15px;
			}
			span {
				display: block;
			}
		}
	}
}