/**
 * SiblingItem.less
 * @author kevin albert
 */

@import './../variables.less';

.sibling-item {
  display: flex;
  font-weight: bold;
  height: 40px;
  div {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .bevy-image {
    #image-icon();
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 18px;
    margin-right: 10px;
  }
  span.bevy-name {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.sibling-edit {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  justify-content: flex-start;
  font-weight: 700;
  span.bevy-name {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .glyphicon {
    color: #757d83;
    font-weight: 200;
    margin-right: 10px;
    padding: 2px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:active {
      color: black;
      text-decoration: none;
      background-color: rgba(0,0,0,.4);
    }
    &:hover {
      text-decoration: none;
      background-color: rgba(0,0,0,.2);
    }
  }
}