/**
 * SubscriberModal.less
 * @author albert
 */

@import './../variables.less';

.sub-modal {
  .modal-dialog {
    width: 320px !important;
  }
  .modal-header {
    .modal-title {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
  .modal-body {
    .sub-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      .img {
        #image-icon();
        min-width: 30px;
        min-height: 30px;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      span.name {
        color: @light-font;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          color: #333;
        }
      }
    }
  }
}
