/**
 * TagPanel.less
 * @author albert
 */

@import './../variables.less';

.tag-panel {
  padding-bottom: 15px;
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.title {
      color: @light-font;
      font-weight: bold;
      padding-left: 12px;
    }
    .actions {
      .edit-btn, .create-btn {
        background-color: @clear;
        color: @light-font;
        transition: all 0.15s linear;
        border: none;
        .glyphicon {
            font-size: 1em;
        }
        &:hover {
            color: rgba(0,0,0,.8);
        }
      }
    }
  }

  .tag-btns {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;
    
    .badge {
      background-color: #777777;
    }
  }
}