.landing-page {
	padding-top: 65px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	.div1 {
		flex: 1;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		height: 400px;
		.title-text {
			font-size: 3.5em;
			padding-top: 50px;
			max-width: 600px;
			text-align: center;
		}
	}
	.div2 {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		margin-top: -170px;
	}
}