.landing-page {
	padding-top: 65px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: rgba(0,0,0,.6);
	.landing-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sub-title-text {
		font-size: 1.5em;
		max-width: 300px;
		text-align: center;	
	}
	.div1 {
		display: flex;
		height: 500px;
		background-color: @bevy-green;
		img {
			margin-top: -20px;
		}
		.title-text {
			font-size: 3.5em;
			padding-top: 20px;
			max-width: 400px;
			text-align: center;
			color: white;
		}
		.sub-title-text {
			font-size: 1.5em;
			max-width: 300px;
			text-align: center;
			color: white;
		}
		.actions {
			margin-top: 30px;
			display: flex;
			flex-direction: row;
			width: 250px;
			justify-content: space-between;
			.mui-raised-button-label {
				color: @bevy-green;
			}
		}
	}
	.div2 {
		height: 200px;
		.sub-title-text {
			max-width: 500px;
			color: rgba(0,0,0,.6);
		}
	}
	.div3 {
		justify-content: flex-start;
		height: 800px;
		background-color: white;
		.features-title {
			font-size: 2.5em;
			margin-top: 40px;
			margin-bottom: 60px;
			max-width: 800px;
			text-align: center;
			width: 100%;
			color: rgba(0,0,0,.6);
		}
		.features {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 800px;
			.feature {
				width: 400px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				height: 300px;
				.glyphicon {
					width: 125px;
					height: 125px;
					background-color: #2cb673;
					border-radius: 100px;
					line-height: 125px;
					padding-left: 38px;
					font-size: 3.5em;
					color: white;
				}
				.title {
					font-size: 2em;
					margin-top: 10px;
					text-align: center;
				}
				.description {
					margin-top: 10px;
					font-size: .9em;
					max-width: 200px;
					text-align: center;
				}
			}
		}
	}
	.div4 {
		height: 80px;
		background-color: rgba(0,0,0,.8);
		.sub-title-text {
			color: white;
			max-width: 500px;
		}
	}
}