.image-modal {
	.modal-dialog {
		.modal-content {
			padding: 0px;
			.modal-header {
				padding: 0px;
				height: 0px;
				min-height: 0px;
				button {
					position: absolute;
					right: 15px;
					top: 10px;
					z-index: 5;
				}
			}
			.modal-body {
				width: 100%;
				padding: 0px;
				img {
					width: 100%;
				}
			}
			.image-left-btn {
				position: absolute;
				top: 50px;
				left: 0px;
			}
			.image-right-btn {
				position: absolute;
				top: 50px;
				right: 0px;
			}
	}
	}
}
