.image-modal {
	.modal-dialog {
		.modal-content {
			padding: 0px;
			.modal-header {
				padding: 0px;
				height: 0px;
				min-height: 0px;
				button {
					position: absolute;
					right: 15px;
					top: 10px;
					z-index: 5;
				}
			}
			.modal-body {
				width: 100%;
				padding: 0px;
				img {
					width: 100%;
				}
			}
			.image-left-btn {
				height: 100%;
				width: 100px;
				color: white;
				position: absolute;
				left: 0px;
				top: 0px;
				transition: all 0.5s ease;
				&:hover {
					box-shadow: inset 75px 0px 80px -37px rgba(0,0,0,0.6);
				}
				&:active {
					transition: all 0.2s ease;
					box-shadow: inset 75px 0px 50px -37px rgba(0,0,0,0.6);
				}
				.mui-touch-ripple {
					width: 0px;
					height: 0px;
				}
			}
			.image-right-btn {
				height: 100%;
				width: 100px;
				color: white;
				position: absolute;
				right: 0px;
				top: 0px;
				transition: all 0.5s ease;
				&:hover {
					box-shadow: inset -75px 0px 80px -37px rgba(0,0,0,0.6);
				}
				&:active {
					transition: all 0.2s ease;
					box-shadow: inset -75px 0px 50px -37px rgba(0,0,0,0.6);
				}
				.mui-touch-ripple {
					width: 0px;
					height: 0px;
				}
			}
	}
	}
}
