
.new-post-panel {
	.collapsing {
	    height: 0px !important;
	    overflow: visible;
	}
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	.panel-body {
		padding: 0px;
		.collapse {
		}
	}
	.new-post-title {
		.title-field.mui-text-field {
			padding: 0 15px;
			width: 90%;
			font-size: 1.2em;

			textarea {
				box-shadow: none !important;
			}
		}
	}
	.row.media {
		overflow: hidden;
		margin: 0;
		padding: 20px 0px;
		//box-shadow: 0px 2px 1px #888 inset, 0px -2px 1px #888 inset;
		background-color: #a9a9a9;
		.media-content{
			margin-left: auto;
			margin-right: auto;
			width: 50px;
			.attach-btn {
				float: left;
				margin-left: auto;
				margin-right: auto;
				background-color: white;
				border-radius: 40px;
				box-shadow: 0px 2px 1px #888;
				.mui-floating-action-button-inner {
					.mui-floating-action-button-container  {
						background-color: white;
						.glyphicon {
							color: #4a4a4a;
							font-size: 1.2em;
						}
					}
				}
			}
		}
	}
	.form-group {
		padding: 5px;
		margin-bottom: 0px;
		.post-body-text {
			-webkit-transition: 0s all ease-in;
	 		transition: 0s all ease-in;
	 		width: 100%;
	 		border-color: rgba(0,0,0,0);
	 		box-shadow: none;
	 		padding-top: 5px;
		}
	}
	.panel-bottom {
		.panel-controls-right {
			float: right;
			margin-top: 0px;
			margin-bottom: 10px;
			height: 35px;
			margin-right: 30px;
			.mui-raised-button {
			float: right;
			margin-right: 10px;
			margin-left: 10px;
				.mui-paper-container {
					.mui-raised-button-container {
						background-color: rgba(0,0,0,0);
						color: white;
						div {
							.mui-raised-button-label {
								color: black;
							}
						}
					}
				}
			}
			.mui-flat-button {
				float: right;
			}
		}
		.panel-controls-left {
			height: 45px;
			float: left;
			margin-left: 20px;
			.mui-floating-action-button {
		      width: 35px;
		      height: 35px;
		      display: inline-block;
		      margin-left: 15px;
		      margin-top: -10px;
		    }
		    .mui-floating-action-button .mui-floating-action-button-container {
		      background-color: white;
		      width: 35px;
		      height: 35px;
		      .mui-floating-action-button-icon {
		      	line-height: 23px;
		      	font-size: 18px;
		      	color: black;
		      }
		    }
			.mui-drop-down-menu {
				margin-bottom: -5px;
				margin-left: 15px;
				margin-top: -26px;
				display: inline-block;
				width: 150px;
				.mui-menu.mui-visible {
					height: auto !important;
				}
				.mui-paper {
				}
			}
		}

	}
	.mui-text-field {
		margin-bottom: 5px;
		-webkit-box-shadow: none;
		margin-left: 5px;
		.mui-text-field-input {
			margin-left: 5px;
			-webkit-box-shadow: none;
			font-size: .85em;
		}
		&:focus {
			-webkit-box-shadow: none;
		}
		.mui-text-field-underline{
		}
		.mui-text-field-focus-underline {
			border-color: rgba(0,0,0,.5);
		}
	}
}

@media(max-width: 991px) {
	.new-post-panel {
		.new-post-title {
			.title-field.mui-text-field {
				textarea {
				}
			}
		}
		.row.media {
			.media-content{
				.attach-btn {
					.mui-floating-action-button-inner {
						.mui-floating-action-button-container  {
							.glyphicon {
							}
						}
					}
				}
			}
		}
		.form-group {
			.post-body-text {
			}
		}
		.panel-bottom {
			font-size: .85em;
			& * {
				font-size: inherit !important;
			}
			.panel-controls-right {
				.mui-raised-button {
					min-width: 60px;
					width: 60px;
					.mui-paper-container {
						.mui-raised-button-label {
							padding: 0 2px;
						}
					}
				}
				.mui-flat-button {
					min-width: 60px;
					width: 60px;
					.mui-flat-button-label {
						padding: 0 2px;
					}
				}
			}
			.panel-controls-left {
				.mui-floating-action-button {
					width: 30px;
					height: 30px;
					.mui-floating-action-button-container {
						width: 30px;
						height: 30px;
					}
			    }
				.mui-drop-down-menu {
					width: 130px;
					height: 50px;
					margin-top: -16px;
				}
			}

		}
		.mui-text-field {
			.mui-text-field-input {
			}
		}
	}
}
