/**
 * NewPostPanel.less
 * @author albert
 * @author kevin
 */

@import './../variables.less';

.new-post-panel {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: #FFF;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  .new-post-title {
    padding: 0px 15px;
  }
  .panel-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    padding-bottom: 10px;
    button.attach-picture {
      border: 1px solid #AAA;
      box-shadow: none;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      transition: 0.25s all ease-in-out;
      border-radius: 18px;
      i.material-icons {
        transition: 0.25s all ease-in-out;
        color: #AAA;
      }
      &:hover {
        border-color: #666;
        i.material-icons {
          color: #666;
        }
      }
    }
    button.post-button {
      border: 1px solid #AAA;
      box-shadow: none;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 36px;
      transition: 0.25s all ease-in-out;
      border-radius: 3px;
      margin-left: auto;
      span.post-button-text {
        transition: 0.25s all ease-in-out;
        color: #AAA;
        font-size: 1.1em;
      }
      &:hover {
        border-color: #666;
        span.post-button-text {
          color: #666;
        }
      }
    }
  }
}
