/**
 * NewPostPanel.less
 * @author albert
 * @author kevin
 */

@import './../variables.less';

.new-post-panel {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: #FFF;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  .new-post-title {
    //padding: 0px 15px;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    position: relative;
    max-width: 100%;
    .profile-picture {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      #image-icon();
    }
    .input {
      display: inline-block;
      flex-grow: 1;
      min-height: 40px;
      //max-height: 250px;
      box-shadow: none;
      outline: none;
      margin-left: 10px;
      z-index: 3;
      word-wrap: break-word;
      width: 10px;
    }
    span.hint-text {
      position: absolute;
      top: 10px;
      left: 68px;
      color: #AAA;
      z-index: 2;
    }
    .form-group {
      flex-grow: 1;
      margin-bottom: 0px;
      textarea.form-control {
        border: none;
        //border-bottom: 1px solid #DDD;
        border-radius: 0px;
        resize: vertical;
        max-height: 250px;
        box-shadow: none;
      }
    }
  }
  .panel-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    padding-bottom: 10px;
    button.attach-picture {
      border: 1px solid #AAA;
      box-shadow: none;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      transition: 0.25s all ease-in-out;
      border-radius: 18px;
      i.material-icons {
        transition: 0.25s all ease-in-out;
        color: #AAA;
      }
      &:hover {
        border-color: #666;
        i.material-icons {
          color: #666;
        }
      }
    }
    button.post-button {
      border: 1px solid #AAA;
      box-shadow: none;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 36px;
      transition: 0.25s all ease-in-out;
      border-radius: 3px;
      margin-left: auto;
      span.post-button-text {
        transition: 0.25s all ease-in-out;
        color: #AAA;
        font-size: 1.1em;
      }
      i.material-icons {
        transition: 0.25s all ease-in-out;
        font-size: 1.3em;
        margin-left: 6px;
        color: #AAA;
      }
      .loading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > div {
          width: 20px;
          height: 20px;
          & > div {
            position: relative;
            top: -15px;
            left: -10px;
          }
        }
      }
      &:hover {
        border-color: #666;
        span.post-button-text {
          color: #666;
        }
        i.material-icons {
          color: #666;
        }
      }
    }
  }
}
