/**
 * Post.less
 * @author albert
 * @author kevin
 */

@import '../variables.less';

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: none;
  background-color: #FFF;
  margin-bottom: 15px;
  border-radius: 5px;

}
