@import '../variables.less';

.collapse-post {
	.collapse-button {
		background-color: @clear;
		color: @light-font;
		font-size: inherit;
		transition: all 0.15s linear;
		border: none;
		display: block;
		margin-left: auto;
 		margin-right: auto;
		&:active, &.active, .btn.active, .btn:active, &:focus, &.focus{
			outline: none;
			text-decoration: underline;
			color: @dark-font;
			box-shadow: none;
			background-color: @clear;
		}
		&:hover {
			background-color: @clear;
		}
	}
}
.post.panel {
	.form-control {
		box-shadow: none;
	}
	.panel-header {
		display: flex;
		justify-content: flex-start;
		font-size: 1.6em;
		padding-top: 15px;
		padding-bottom: 10px;
		.profile-img {
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 100px;
			margin-right: 10px;
			#image-icon;
		}
		.post-details {
			display: flex;
			flex-direction: column;
			.top {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			.bottom {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				.middot {
					padding: 0px 5px;
				}
			}
			.details, .detail-time, .dot {
				font-size: .6em;
				color: #1A1A1A;
				line-height: initial;
				button {
					border: none;
					padding: 0px;
					border-radius: 0px;
					&:active, &:hover, &:focus {
						background-color: white;
						border: none;
						outline: none;
						box-shadow: none;
					}
				}
			}
			.details:focus, .details:hover {
				text-decoration: underline;
			}
			.details:active {
				color: #4a4a4a;
			}
			.glyphicon {
				font-size: .4em;
				color: #1A1A1A;
				vertical-align: super;
				padding: 0px 5px;
			}
		}
		.badges {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			float: right;
			margin-top: -6px;
			text-align: -webkit-right;
			.points, .comment-count {
				display: inline-block;
				font-size: .6em;
			}
			.badge {
				float: right;
				margin-top: 3px;
				display: block;
				font-size: .5em;
				width: 50px;
			}
		}
	}
	.panel-body {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		.panel-body-text {
			box-shadow: none;
			padding-bottom: 0px;
			padding-left: 5px;
			color: #4C4C4C;
			margin-bottom: 10px;
			p {
				margin-bottom: 0px;
				padding-top: 0px;
			}
			iframe {
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-top: 5px;
			}
			.mui-text-field {
				width: 90%;
				.mui-text-field-input {
					.mui-text-field-textarea {
						background: none;
						border: none;
						box-shadow: none;
					}
				}
				.mui-text-field-focus-underline {
					border-color: rgba(0,0,0,.5);
				}
			}
		}
		.panel-body-image {
			overflow: hidden;
			width: 95px;
			height: 95px;
			display: inline-block;
			box-shadow: 1px 1px 8px rgba(0,0,0,.4);
			margin-right: 10px;
			margin-top: 2px;
			.image-thumbnail {
				width: 100%;
				height: 100%;
				border: none;
				padding: 0px;
				#image-icon;
			}
		}
	}

	.panel-comments {
		width: 93%;
		margin-left: auto;
		margin-right: auto;
		.comment-count {
			font-size: .85em;
			color: #1A1A1A;
		}
		.comment-list .comment-list {
			margin-left: 2em;
			border-left: 1px solid #d2d3d3;
		}
		.comment-list .comment-list::before {
			content: '';
			border-bottom: 1px solid #edeeee;
			position: absolute;
		}

		.comment {
			margin-top: 10px;
			.comment-col {
				.comment-name.collapsed {
					text-decoration: none;
					vertical-align: -webkit-baseline-middle;
					color: @light-font;
					margin-left: 15px;
				}
				.detail-time.collapsed {
					font-size: 10px;
					color: @light-font;
					vertical-align: -webkit-baseline-middle;
				}
			}
			.profile-img {
				display: inline-block;
				margin-left: 7px;
				margin-right: 10px;
				border-radius: 40px;
				margin-top: 7px;
				vertical-align: top;
				height: 35px;
				width: 35px;
				#image-icon;
			}
			.comment-text {
				display: inline-block;
				.comment-title {
					.comment-name {
						color: black;
					}
					.detail-time {
						font-size: .8em;
						color: @light-font;
					}
				}
				.comment-body {
					color: @light-font;
					font-size: 13px;
				}
				.reply-link {
					color: #4a4a4a;
					text-decoration: underline;
				}
			}
			.comment-actions {
				float: right;
				font-size: 10px;
				.btn {
					color: @light-font;
					background: none;
					border: none;
					box-shadow: none;
					font-size: 10px;
				}
				&.open {
					.btn {
						color: black;
					}
				}
			}
			.panel-comment-input {
				width: 75%;
				float: left;
				.profile-img {
					margin-left: 13px;
					margin-right: 5px;
					display: inline-block;
					height: 35px;
					width: 35px;
					border-radius: 40px;
					margin-bottom: -15px;
					#image-icon;
				}
				.panel-comment-textfield {
					background-color: rgba(0,0,0,0);
					border-bottom: none;
					border-left: 0px;
					border-top: 0px;
					border-right: 0px;
					box-shadow: none;
					border-radius: 0px;
					color: #fff;
					padding-left: 4px;
					padding-bottom: 2px;
					font-size: 1em;
					display: inline-block;
					.mui-text-field-focus-underline {
						border-color: #4c4c4c;
						border-bottom-width: 1px;
					}
				}
			}
		}
	}
	.panel-bottom {
		display: inline-block;
		padding: 0px 10px 5px 10px;
		width: 100%;
		color: @light-font;

		.panel-comment-input {
			width: 75%;
			float: left;
			.profile-img {
				margin-left: 13px;
				margin-right: 5px;
				display: inline-block;
				height: 35px;
				width: 35px;
				border-radius: 40px;
				margin-bottom: -15px;
				#image-icon;
			}
			.panel-comment-textfield {
				background-color: rgba(0,0,0,0);
				border-bottom: none;
				border-left: 0px;
				border-top: 0px;
				border-right: 0px;
				box-shadow: none;
				border-radius: 0px;
				color: #fff;
				padding-left: 4px;
				padding-bottom: 2px;
				font-size: 1em;
				display: inline-block;
				.mui-text-field-focus-underline {
					border-color: #4c4c4c;
					border-bottom-width: 1px;
				}
			}
		}

		.panel-controls-left {
			font-size: .8em;
			float: left;
			display: inline-block;
			position: relative;
			top: 50%;
			padding-top: 1%;
			padding-left: 1.5%;
		}

		.panel-controls-right {
			float: right;
			display: inline-block;
			font-size: 1.2em;
			.mui-icon-button {
				padding: 0px;
				height: 40px;
				width: 40px;
			}
			.post-settings {
				.btn {
					border: none;
					&:active, &.active, .btn.active, .btn:active, &:focus, &.focus, &.open {
						outline: none;
						box-shadow: none;
						background-color: rgba(0,0,0,0);
					}
				}

				&:active, &.active, .btn.active, .btn:active {
					color: black;
				}
			}
			.mui-tooltip {
				// override material-ui roboto
				font-family: Lucida Sans Unicode !important;
			}
			.btn {
				background-color: @clear;
				color: @light-font;
				font-size: inherit;
				transition: all 0.15s linear;
				padding: 0px 0px;

				&:active {
					color: @dark-font;
					text-decoration: none;
				}
			}
		}
	}
}

.mui-text-field-input {
	box-shadow: none !important;
}

@media (max-width: 1200px) {
	.post.panel {
		.panel-bottom {
			.panel-comment-input {
				.panel-comment-textfield {
					width: 75%;
					font-size: .8em !important;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.post.panel {
		.panel-bottom {
			.panel-comment-input {
				.panel-comment-textfield {
					width: 60%;
					font-size: .8em !important;
				}
			}

			.panel-controls-right {
				padding-top: 15px;
				margin-right: -5px;
				.mui-icon-button {
					padding: 0px;
					height: 25px !important;
					width: 25px !important;
				}
			}
		}
		.form-control {
			box-shadow: none;
		}
		.panel-header {
			.post-details {
				font-size: .8em;
			}
			.badges {
				font-size: .8em;
			}
		}
	}
}
