@import '../variables.less';

/*FORMS*/
/*.panel {
	textarea:focus,
	input[type="text"]:focus,
	textarea[type="textarea"]:focus,
	.uneditable-input:focus {
		transition: 0s all ease-in;
	}
	#Email, #Fname {
		background-color:#666;
	}
	input, textarea{
		background-color:#666;
		color: #cdcdcd;
	}
	::-webkit-input-placeholder, :-moz-placeholder,:-ms-input-placeholder,
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
	input:-moz-placeholder, textarea:-moz-placeholder  {
		color: #cdcdcd;
	}
	.form-group {
		position: relative;
	}
	.form-control {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)
	}
	.container .row .form-group :focus{
	}
}*/

//NEW POST
.post-submit-group {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.post-submit-wrapper input.form-control {
	box-shadow: none;
	&:focus, &:hover {
		box-shadow: none;
	}
}

@media (max-width: 402px) {
	.post-submit-group {
		width: 300px;
	}
}
