@import '../variables.less';

.post-container {
	//float: left;
	//height: 100%;
}

@media (max-width: 767px) {
	.post-container {
		float: none;
		width: 80%;
	}
}

// this probably isn't the standard 'phone width'...
// look it up later
@media (max-width: 500px) {
	.post-container {
		width: 100%;
	}
}
