//ENTRY POINT

// material ui styles

// bootstrap styles
// note: any potential intersections that bootstrap has with material-ui
// will prefer let bootstrap override it
// move material-ui after this line to reverse the order

@import './animation.less';
@import './buttons.less';
@import './dropzone.less';
@import './forms.less';
@import './panels.less';
@import './variables.less';

@import './app/FilterSidebar.less';
@import './app/Footer.less';
@import './app/LeftSidebar.less';
@import './app/Lonesome.less';
@import './app/MainSection.less';
@import './app/Navbar.less';
@import './app/PostView.less';
@import './app/PublicBevyList.less';
@import './app/PublicBevyItem.less';
@import './app/RightSidebar.less';
@import './app/SearchView.less';
@import './app/Frontpage.less';

@import './bevy/BevyDropdown.less';
@import './bevy/BevyDropdownItem.less';
@import './bevy/SiblingPanel.less';
@import './bevy/SiblingItem.less';
@import './bevy/BevyPanel.less';
@import './bevy/BevySettingsModal.less';
@import './bevy/FrontpagePanel.less';
@import './bevy/InviteModal.less';
@import './bevy/MemberModal.less';
@import './bevy/TagPanel.less';
@import './bevy/TagItem.less';
@import './bevy/AdminModal.less';

@import './chat/ChatDock.less';
@import './chat/ChatDropdown.less';
@import './chat/ChatPanel.less';
@import './chat/ChatSidebar.less';
@import './chat/MessageItem.less';
@import './chat/MessageList.less';
@import './chat/UserSearchItem.less';
@import './chat/NewThreadPanel.less';
@import './chat/UserSearchOverlay.less';
@import './chat/EditParticipantsModal.less';
@import './chat/ThreadItem.less';

@import './homepage/homepage.less';

@import './login/ForgotPage.less';
@import './login/LoginPage.less';

@import './modals/CreateNewBevy.less';
@import './modals/modal.less';
@import './modals/ProfileModal.less';

@import './notifications/NotificationDropdown.less';
@import './notifications/NotificationItem.less';

@import './post/datepicker.less';
@import './post/Event.less';
@import './post/ImageModal.less';
@import './post/NewPostPanel.less';
@import './post/Post.less';
@import './post/PostContainer.less';
@import './post/PostSort.less';

@import './profile/ProfileDropdown.less';
@import './profile/AddAccountModal.less';

@import './register/RegisterPage.less';

html {
	font-family: Lucida Sans Unicode;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}
body {
	//padding-top: 85px;
	background-color: @background-grey;
	min-height: 100%;
	height: auto;
	overflow-y: scroll;
	.app-wrapper {
    	.main-section-wrapper {
    	}
	}
}
