//ENTRY POINT

// material ui styles

// bootstrap styles
// note: any potential intersections that bootstrap has with material-ui
// will prefer let bootstrap override it
// move material-ui after this line to reverse the order
@import '../../node_modules/bootstrap/less/bootstrap.less';

@import './*.less';
@import './**/*.less';

html {
	font-family: Lucida Sans Unicode;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}
body {
	//padding-top: 85px;
	background-color: @background-grey;
	min-height: 100%;
	height: auto;
	overflow-y: scroll;
	.app-wrapper {
    	.main-section-wrapper {
    	}
	}
}
