//ENTRY POINT

// material ui styles
@import '../../node_modules/material-ui/src/less/scaffolding.less';
@import '../../node_modules/material-ui/src/less/components.less';

// bootstrap styles
// note: any potential intersections that bootstrap has with material-ui
// will prefer let bootstrap override it
// move material-ui after this line to reverse the order
@import '../../node_modules/bootstrap/less/bootstrap.less';

@import 'panels.less';
@import 'variables.less';
@import 'buttons.less';

@import 'app/MainSection.less';

@import 'app/Navbar.less';

@import 'app/LeftSidebar.less';
@import 'bevy/BevyList.less';

@import 'post/PostSort.less';
@import 'post/PostSubmit.less';

@import 'app/RightSidebar.less';

@import 'modals/modal.less';
@import 'modals/ProfileModal.less';
@import 'modals/CreateNewBevy.less';

@import 'login/LoginPage.less';

html {
	font-family: Lucida Sans Unicode;
	height: 100%;
}
body {
	padding-top: 85px;
	background-color: @background-grey;
}

/*FORMS*/
.post-container {
	margin-left: auto;
	margin-right: auto;
	float: left;
	height: 100%;
}
.form-control {
	box-shadow: none;
}
// disabling bootstrap glow
input, textarea, select, a {
	outline: none;
	transition: 0.2s all ease-in;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
	outline:0px;
	appearance:none;
}
//for all forms
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea[type="textarea"],
.uneditable-input {
	transition: 0.2s all ease-in;
	&:hover {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	}
	&:focus{
		border-color: #cccccc;
		outline: 0;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
		transition: 0.2s all ease-in;
	}
}

@media (max-width: 767px) {
	.post-container {
		float: none;
		width: 80%;
	}
}

@media (max-width: 500px) {
	.post-container {
		width: 100%;
	}
}
