@import 'variables.less';

.row .col-xs-12 .btn &:hover &:active{
	border-radius: 3px;
	border-left-color: white;
	background-color: white;
}
.sort-btn {
	background-color: rgba(0,0,0,0);
	color: @light-font;
	font-size: inherit;
	transition: all 0.15s linear;
	border: none;
	&:active, &.active, .btn.active, .btn:active, &:focus, &.focus{
		outline: none;
		text-decoration: underline;
		color: black;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: rgba(0,0,0,0);
	}
	&:hover {
		background-color: rgba(0,0,0,0);
	}
}

.bevy-btn {
	background-color: rgba(0,0,0,0);
	color: @light-font;
	font-size: inherit;
	transition: all 0.15s linear;
	border: none;
	display: block;
	&:active, &.active, .btn.active, .btn:active, &:focus, &.focus{
		outline: none;
		text-decoration: underline;
		color: black;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: rgba(0,0,0,0);
	}
	&:hover {
		background-color: rgba(0,0,0,0);
	}
}

//GROUPS
.btn-group-vertical {
	height: 36px;
	border-bottom: 1px solid #d2d3d3;
}
.btn-group {
	height: 36px;
}
.btn-group-text {
	color: @light-font;
	margin-left: auto;
	margin-right: auto;
}
.btn-submit:active {
	text-decoration: none;
}
