//GENERAL

@import 'variables.less';

.row .col-xs-12 .btn &:hover &:active{
  border-radius: 3px;
  border-left-color: white;
  background-color: white;
}
.sort-btn {
  background-color: rgba(0,0,0,0);
  color: @light-font;
  font-size: inherit;
  transition: all 0.15s linear;
}
.sort-btn:active, .sort-btn.active, .btn.active, .btn:active{
  outline: none;
  text-decoration: underline;
  color: black;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}
//GROUPS
.btn-group-vertical {
  height: 36px;
  border-bottom: 1px solid #d2d3d3;
}
.btn-group-sort {
  height: 36px;
  border-bottom: 1px solid #d2d3d3;
  float:none;
  text-align: center;
}
.btn-group {
    height: 36px;
}
.btn-group-text {
  color: @light-font;
  margin-left: auto;
  margin-right: auto;
}
//POST SUBMIT



