@import 'variables.less';

//.row .col-xs-12 .btn &:hover &:active{
//	border-radius: 3px;
//	border-left-color: white;
//	background-color: white;
//}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}