/*FORMS*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea[type="textarea"]:focus,
.uneditable-input:focus {
  border-color: #cccccc;
  outline: 0;
  /* IE6-9 */
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);

  transition: 0.2s all ease-in;
}
#Email, #Fname {
    background-color:#666;
}
input, textarea{
    background-color:#666;
    color: #cdcdcd;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #cdcdcd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cddccd;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cdcdcd;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #cdcdcd;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #cdcdcd;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #cdcdcd;
}
.form-group {
  position: relative;
}
.form-control {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)
}
.Container {
  .row {
    .form-group {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
    }
  }
}
.Container .row .form-group :focus{
}


//NEW POST 
.row .col-xs-12 .input-group {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}