
@import 'variables.less';

.left-sidebar {
  border-bottom: 0px solid rgba(0,0,0,0)!important;
  color: @light-font;
  display: inline-block;
  float: left;
  	.btn-default .badge {
		background-color: #777777;
	}
	.btn-group-text {
		.glyphicon {
			font-size: 1.2em;
		}
	}
}
