.navbar {
  background-color: #2cb673;
  border-color: rgba(0,0,0,0);
  border-radius: 0px;
  height: 68px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.3);
  &:focus, .navbar-brand:hover {
    color: #e6e6e6;
  }
  .navbar-header {
    .navbar-brand {
      padding: 32% 15px;
      .glyphicon {
        color: #FFF;
        font-size: .9em;
      }
    }
  }
  .navbar-brand-text {
    font-size: 1.2em;
    padding: 23px 0px;
    color: #FFF
  }
}
.navbar-form {
  padding-top: 0px;
  padding-right: 30px;
  border-top: none; 
  border-bottom: none; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  &.form-group {
    display: inline-block;
  }
}
.search-input{
    background-color: rgba(0,0,0,0); 
    border-bottom: none; 
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    box-shadow: none; 
    border-radius: 0px;
    color: #fff;
}
.search-icon {
  position:relative; 
  color: #fff; 
  right: 30px; 
  top: 2px;
}
.mui-icon-button {
  padding: 5px;
}
.mui-text-field .mui-text-field-focus-underline {
  border-color: white;
}
.mui-text-field .mui-text-field-underline {
  border-top: 1px solid rgba(255,255,255,.1);
}
.mui-text-field .mui-text-field-input {
  -webkit-box-shadow: none; 
  box-shadow: none!important; 
}