@import 'variables.less';

.panel {
	border: 0px;
	box-shadow: @shadow1;
	border-radius: 2px;
	.panel-header {
		padding-top: 3%;
		padding-left: 3.5%;
		padding-right: 3.5%;
		padding-bottom: 1%;

		p {
			font-size: 1.4em;
			color: @dark-font;
		}
		a {
			//font-size: 1.4em;
			color: @dark-font;
			text-decoration: none;

			&:hover {
				color: @light-font;
			}
		}
	}
}
