@import 'variables.less';

.panel {
	-webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2);

	.panel-heading {
		padding: 3% 3.5%;
		a {
			font-size: 1.4em;
			color: black;
			text-decoration: none;

			&:hover {
				color: @light-font;
			}
		}
	}

	.panel-details {
		font-size: .68em;
		padding: 0px 3.5%;
	}
	.panel-body {
		padding-left: 0px;
		padding-right: 0px;
		overflow: hidden;
		max-height: 150px;
		-webkit-animation: expand-in .8s forwards;
		max-height: 10%;
		&:focus {
			-webkit-animation: expand-out .4s forwards;
			-moz-animation: expand-out .4s forwards;
			-ms-animation: expand-out .4s forwards;
			-o-animation: expand-out .4s forwards;
			animation: expand-out .4s forwards;
			outline: none;
		}
	}
	.panel-body-text {
		border-top: solid 1px @light-font;
		border-bottom: solid 1px @light-font;
		margin-top: 3%;
		width: 93%;
		margin-left: auto;
		margin-right: auto;
		color: @light-font;
		font-size: .85em;

	}
	.panel-body-image {
		img {
			width: 100%;
		}
	}

	.panel-bottom {
		display: inline-block;
		padding: 10px 10px 5px 10px;
		width: 100%;
		color: @light-font;

		.panel-controls-left {
			font-size: .8em;
			float: left;
			display: inline-block;
			position: relative;
			top: 50%;
			transform: translateY(10%);
			padding-left: 1.5%;
		}

		.panel-controls-right {
			float: right;
			display: inline-block;
			font-size: 1.6em;

			.mui-tooltip {
				// override material-ui roboto
				font-family: Lucida Sans Unicode !important;
			}

			.btn {
				background-color: rgba(0,0,0,0);
				color: @light-font;
				font-size: inherit;
				transition: all 0.15s linear;
				padding: 0px 0px;

				&:active {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}





@-webkit-keyframes expand-out {
	from {
		height: 150px;
	}
	to {
		height: 300px;
	}
}
@-webkit-keyframes expand-in {
	from {
		height: 300px;
	}
	to {
		height: 150px;
	}
}
