.profile-page {
	text-align: center;
	.pro-pic {
		text-align: center;
		background: url(/img/samplecover.jpg) no-repeat;
		border-radius: 50%;
		height: 120px;
		width: 120px;
		background-size: 120px 120px;
		margin-right: auto;
		margin-left: auto;
		.glyphicon {
			margin-top: 40px;
			z-index: 2;
			background-color: rgba(0,0,0,0);
			border: none;
			font-size: 1.8em;
			opacity: 0;
			&:hover {
				opacity: 1;
				background-color: rgba(255,255,255,.75);
				border-radius: 50%;
			}
		}
	}
	.mui-text-field {
		margin-bottom: 5px;
		-webkit-box-shadow: none;
		.mui-text-field-input {
			margin-left: auto;
			margin-right: auto;
			font-size: 1.3em;
			text-align: center;
			-webkit-box-shadow: none;
		}
		&:focus {
			-webkit-box-shadow: none;
		}
		.mui-text-field-underline{
		}
		.mui-text-field-focus-underline {
			border-color: rgba(0,0,0,.5);
		}
	}
	h2{
		text-align: center;
		font-size: 1em;
		margin-top: 0px;
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 0px;
		text-align: center;
		font-size: 1em;
	}
	.email {
		padding-top: 0px;
	}
}