@import 'variables.less';

.right-sidebar {
  float: right;
  display: inline-block;
  white-space: nowrap;
  .badge {
  	margin-top: 0px;
  }
}

//dropdown buttons
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, 
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child{
	  background: rgba(0,0,0,0);
	  border: 0px;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  color: @light-font;
	  font-size: inherit;
	  & .open {
	  }
	  &:active{
	  	color: black;
	  }
	  &:focus {
	  	text-decoration: underline;
	  	color: black;
	  }
	  &:hover{
	  	color: black;
	  }
	}
//open dropdown menu
.btn-group > .btn-group {
	float: none;
}

@media (max-width: 991px) {
  .right-sidebar {
    display: inline-block;
    float: right;
  }
}