// VARIABLES

@dark-font: #000000;
@light-font: #757d83;
@bevy-green: #2cb673;

@shadow-medium: rgba(1, 1, 1, 0.2);

@clear: rgba(0, 0, 0, 0);

@background-grey: #edeeee;

@bevy-danger: #d9534f;

#image-icon() {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
