<body>
  <table cellspacing="30">
    <tbody>
      <tr>
        <td align="left" style="vertical-align:left;">
          <a title="Bevy" href="http://joinbevy.com">
            <img width="50" height="50" src='http://joinbevy.com/img/logo_200.png'></img>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left" style="vertical-align:left;">
          <span style="font-size:3em;color:#2CB673">
            Bevy
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <br />
          <span style="font-size:2em;color=#666666;">
            Click this link to reset your password for Bevy:
            <br />
            <a href="<%= reset_link %>" title="Reset Password" target="_blank"><%= reset_link %></a>
          </span>
          <br />
          <br />
          <span style="">
            If you did not request for your password to be changed, reply to this email or email us at contact@joinbevy.com
          </span>
          <br />
          <br />
          <span style="">
            Thanks,
          </span>
          <br />
          <span style="">
            Team Bevy
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</body>
