/**
 * BoardPanel.less
 * @author kevin
 * @author albert
 */

@import './../variables.less';

.board-panel {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px;
  .top {
    display: flex;
    flex-direction: row;
    .panel-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      overflow: hidden;
      a.title {
        flex: 1;
        display: flex;
        white-space: nowrap;
        overflow-x: hidden;
        color: rgba(0, 0, 0, 0.87);
        font-size: 15px;
        width: 100%;
        //font-weight: 500;
      }
      .description {
        color: rgba(0, 0, 0, 0.54);
        //font-weight: 500;
      }
      span.glyphicon {
        margin-right: 10px;
        padding-top: 3px;
        margin-left: 10px;
      }
    }
  }
  .bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
        color: #888;
        span.info-item-body {
          display: flex;
          flex-direction: row;
          align-items: center;
          span.sub-count {
            margin-right: 4px;
          }
          i.material-icons {
            font-size: 20px;
          }
        }
      }
    }
    .right {

    }
  }
}

.new-board-card {
  width: 100%;
  padding: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0,0,0,.1);
  cursor: pointer;
  position: relative;
  .plus-icon {
    border-radius: 50px;
    background-color: rgba(0,0,0,.05);
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .new-board-text {
    color: #333;
    margin-top: 5px;
  }
}
