/**
 * BoardInfoSidebar.less
 * @author albert
 */

@import './../variables.less';

.board-info-sidebar {
  position: fixed;
  margin-top: 53px;
  width: 220px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  .header-image {
    #image-icon();
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    .close-button {
      border: none;
      background-color: rgba(0,0,0,0);
      color: #fff;
      transition: 0.25s all ease-in-out;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      jusitfy-content: center;
      width: 30px;
      height: 30px;
      padding: 0px;
      padding-left: 3px;
      border-radius: 20px;
      margin-top: 5px;
      margin-right: 5px;
      &:hover {
        background-color: rgba(255,255,255,.3)
      }
      i.material-icons {

      }
    }
  }
  span.name {
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }
  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    i.material-icons {
      color: #666;
    }
    span.type-text {
      color: #666;
    }
  }
  span.description {
    font-size: 1em;
    color: #888;
    padding-left: 15px;
    padding-right: 15px;
  }
  span.created {
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
    font-size: 0.9em;
    margin-top: 6px;
  }
  .admins {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    border-top: 2px solid #eee;
    padding-top: 6px;
    .admins-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 4px;
      span.admins-title {
        color: #333;
      }
      button.add-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        background-color: transparent;
        position: relative;
        box-shadow: none;
        border: none;
        transition: 0.1s all ease-in-out;
        &:hover, &:focus, &:active {
          span.text {
            color: #000;
            text-decoration: underline;
          }
        }
        span.text {
          transition: 0.1s all ease-in-out;
          color: rgba(0,0,0,0.4);
        }
      }
    }
    button.admin-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 48px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      &:hover, &:focus, &:active {
        background-color: rgba(0,0,0,0.1);
      }
      .image {
        #image-icon();
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        border-radius: 18px;
      }
      span.name {
        font-size: 1em;
        margin-left: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
  }
  .settings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    button.settings-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 100%;
      border: 2px solid #AAA;
      border-radius: 25px;
      box-shadow: none;
      background-color: transparent;
      position: relative;
      font-weight: 500;
      &:hover {
        //background-color: rgba(0,0,0,0.15);
        border: 2px solid #666;
        span.settings-button-text {
          color: #666;
        }
      }
      span.settings-button-text {
        color: #AAA;
      }
    }
  }
}
