@import '../variables.less';
/**
 * PublicBevyItem.less
 * @author kevin albert
 */

@import './../variables.less';

.main-section {
  .left-sidebar {
    .hide-scroll {
      .board-list {
        .public-board-panel {
          width: 100%;
          padding: 0px;
          display: flex;
          flex-direction: column;
          margin-bottom: 18px;
          padding: 15px;
          .top {
            display: flex;
            flex-direction: row;
            .panel-info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 15px;
              overflow: auto;
              a.title {
                flex: 1;
                display: flex;
                white-space: nowrap;
                overflow-x: hidden;
                color: rgba(0, 0, 0, 0.87);
                font-size: 15px;
                width: 100%;
                //font-weight: 500;
              }
              .description {
                color: rgba(0, 0, 0, 0.54);
                //font-weight: 500;
              }
              span.glyphicon {
                margin-right: 10px;
                padding-top: 3px;
                margin-left: 10px;
              }
            }
          }
          .bottom {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: -5px;
            .left {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-grow: 2;
              .info-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
              }
            }
            .right {

            }
          }
        }
        .new-board-card {
          order: 3;
          width: 100%;
          padding: 0px;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          border-style: solid;
          border-width: 3px;
          border-color: rgba(0,0,0,.1);
          cursor: pointer;
          position: relative;
          .plus-icon {
            border-radius: 50px;
            background-color: rgba(0,0,0,.05);
            height: 40px;
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .new-board-text {
            color: #333;
            margin-top: 5px;
          }
        }
      }
    }
  }
}